@page "/{IdUsuario:int}/ventas/new"

<div class="container">
    <h2>Agregar nueva venta</h2>
    <div class="m-1 mb-3">
        <a class="btn btn-secondary" href="/@IdUsuario/ventas">Volver a ventas</a>
    </div>
    <div class="m-1">
        <VentasFormulario venta="ventaNueva" />
    </div>
</div>


@code {
    [Parameter]
    public int IdUsuario { get; set; }

    private Venta ventaNueva = new Venta();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ventaNueva.IdUsuario = IdUsuario;
        }
        catch (Exception ex)
        {
            // Manejo de error, por ejemplo, mostrar un mensaje o registrar el error
            Console.WriteLine(ex.Message);
        }
    }
}
